* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

.activity-container {
    font-size: 1.5rem;
    margin-top: 10vh;
}

.container {
    padding-top: 10vh;
    width: 100vw;
    height: 100vh;
    background-color: #D3D3CB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: #9F2B00;
    padding: 3em;
    border-radius: 50%;
    border: 2px solid #000;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #D37506;
}

/* Fun Background */
.fun-background {
    background: #dd3e54;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6be585, #dd3e54);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6be585, #dd3e54); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Bangers', sans-serif;
}